html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

figure {
  content-visibility: auto;
  contain-intrinsic-size: calc(280px + 6rem);
  margin: 2.5rem;
}

figcaption {
  text-transform: capitalize;
}